@import "bourbon";
@import "neat";
@import "mixins";
@import "normalize";
@import "font-awesome";


li {
  list-style: none;
}

.accordion {
  width: 300px;
  background-color: yellow;
  padding: 0;
  margin: 0;
  border: solid grey 3px;
}

.accordion__bar {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: solid grey 2px;
}

.accordion__bar span {
  float: right;
  margin: 0;
  padding-right: 10px;
}

.accordion__bar-list  span {

}

.accordion__bar-list li {

}
