@import "bourbon";
@import "neat";
@import "mixins";
@import "normalize";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";


li {
  list-style: none;
}

.accordion {
display: flex;
flex-direction: column;
list-style: none;
padding-left: none;
border: solid grey 3px;
width: 400px;

}

.accordion__bar {
padding: 10px;
}

.accordion__bar span {
  float: right;
  margin: 0;
  padding-right: 10px;
}

.accordion__bar-list  span {

}

.accordion__bar-list li {

}
